[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
alembic = "*"
arrow = "*"
blinker = "*"
certifi = "*"
chardet = "*"
click = "*"
ics = "*"
idna = "*"
itsdangerous = "*"
jplephem = "*"
lunardate = "*"
lxml = "*"
numpy = "*"
pyluach = "*"
python-dateutil = "*"
python-docx = "*"
python-dotenv = "*"
python-editor = "*"
pytz = "*"
requests = "*"
sgp4 = "*"
six = "*"
skyfield = "*"
skyfield-data = "*"
tzlocal = "*"
urllib3 = "*"
waitress = "*"
workalendar = "*"
Flask = "*"
Flask-Login = "*"
Flask-Mail = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
Jinja2 = "*"
Mako = "*"
MarkupSafe = "*"
Pillow = "*"
pyCalverter = "*"
SQLAlchemy = "*"
TatSu = "*"
Werkzeug = "*"
WTForms = "*"
XlsxWriter = "*"

[requires]
python_version = "3.8"

[scripts]
init_db = "bash init_db.sh"
server = "python cantina-admin.py"
send= "python send.py"