{% extends "base.html" %}

{% block content %}
<nav class="navbar">


    <div class="container">
        <div id="navbarMenuHeroA" class="navbar-brand is-active" className="navbar-brand">
            <div class="navbar-end">
                <a href="{{ url_for('booking', cat='cantine') }}" class="navbar-item">Cantine</a>
                <a href="{{ url_for('booking', cat='garderie_matin') }}" class="navbar-item">Garderie Matin</a>
                <a href="{{ url_for('booking', cat='garderie_soir') }}" class="navbar-item">Garderie Soir</a>
        </div>
    </div>
</nav>
<form method="POST">
<div class="field is-grouped">
  <div class="control">
    <button class="button is-link" type="submit" name="selectall">Sélectionner tout</button>
  </div>
  <div class="control">
    <button class="button is-link" type="submit" name="selectnone">Déséléctionner tout</button>
  </div>
</div>
<div class="field is-grouped">
  <div class="control">
    <button class="button is-link" type="submit">Enregistrer les réservations</button>
  </div>
</div>
<div class="table-container">
<table class="table table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>Mois</th>
      <th>Semaine</th>
      <th>Lun</th>
      <th>Mar</th>
      <th>Mer</th>
      <th>Jeu</th>
      <th>Ven</th>
      <th>Sam</th>
      <th>Dim</th>
    </tr>
  </thead>
  <tbody>
    {% for week in calendar %}
      <tr class="tr{%if week == current_week %} is-selected{%endif%}">
        <td>{{calendar[week][0]['month']}}</td>
        <td>{{week}}</td>
        {% for day in calendar[week] %}
          <td>
            <label class="checkbox" {%if not day['bookable_' + booking_type]%}disabled{%endif%}>
            <input type="checkbox" name={{day['date']}}{%if not day['bookable_' + booking_type]%} disabled{%endif%}{%if day['date'] in booked%} checked{%endif%}>
            {{day['day']}}
            </label>
          </td>
        {%endfor%}
      </tr>
    {%endfor%}
  </tbody>
</table>
</form>

{% endblock %}